<div class="full-section">
    <div class="preview-section container-with-scrollable-content">
        <app-table 
            [tableId]="tableId"
            class="container-with-scrollable-content" >
        </app-table>
    </div>
    <div class="working-section d-flex flex-column ">
        <div>
            <ul class="nav nav-underline nav-fill">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="selectedSection === 'section-details'" (click)="selectedSection = 'section-details'" aria-current="true">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="selectedSection === 'section-copilot-chat'" (click)="selectedSection = 'section-copilot-chat'">Analysis</a>
                </li>
            </ul>
        </div>

        <div class="container-fluid flex-grow-1 mt-3">
            <ng-container [ngSwitch]="selectedSection">
                <ng-container *ngSwitchCase="'section-details'">
                    <ng-container *ngTemplateOutlet="__section_details"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'section-copilot-chat'">
                    <ng-container *ngTemplateOutlet="__section_copilot_chat"></ng-container>
                </ng-container>
            </ng-container>
        </div>

    </div>
</div>


<ng-template #__section_details>
    <div class="container-with-scrollable-content">
        <div class="d-flex flex-column">
            <p class="fs-5 text-center">
                {{tableId}} 
                <span class="text-secondary">
                    @if (columns[0].columnName == null) {
                        no columns added
                    }
                    @else {
                        {{columns.length}} column<span>{{columns.length>1?'s':''}}</span>
                    }
                </span>
            </p>
        </div>
        <div class="scrollable">
            <p class="fs-6 mt-4">Columns</p>
            <ul class="list-group">
                @for (col of columns; track $index) {
                    <li class="list-group-item d-flex content-with-hidden-sub-content">
                        <div class="flex-fill">
                            {{ col.columnName }} 
                            <span class="text-secondary">
                                {{ col.dataType }}
                            </span>
                        </div>
                        <div (click)="columnSelectedForDelete = col.columnName"  data-bs-toggle="modal" data-bs-target="#deleteColumnModal" class="icon-button-danger hidden-sub-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </div>
                    </li>
                }
            </ul>
            
            <div *ngIf="addNewColumnFormOpen" class="border py-3 px-2 my-2">
                <app-add-column  [tableId]="this.tableId" (closeForm)="onCloseAddNewColumnForm()" (columnCreated)="onColumnCreated($event)" (relationshipColumnCreated)="onRelationshipColumnCreated($event)"></app-add-column>
            </div>
            <div class="text-button-primary" (click)="onAddNewColumn()">+ Add New</div>
        </div>
    </div>
</ng-template>

<ng-template #__section_copilot_chat>
    <app-analysis-chat [tableId]="tableId" class="container-with-scrollable-content"></app-analysis-chat>
</ng-template>

<!-- delete column modal -->
<div class="modal fade" id="deleteColumnModal" tabindex="-1" aria-labelledby="deleteColumnModalLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteColumnModalLable">Delete {{columnSelectedForDelete}} column</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            You are about to delete the column <strong>{{columnSelectedForDelete}}</strong>. Are you sure you want to proceed?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="onDeleteColumn(columnSelectedForDelete)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>