@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

@import './assets/styles/_color';
@import './assets/styles/_layout';
@import './assets/styles/_background';
@import './assets/styles/_spacing';
@import './assets/styles/_navbar';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.arc-navbar {
    background-color: $white;
    border-bottom: 0.5px solid $gray-30;
    height: $row-height-01;
}

.arc-content-container {
    background-color: $gray-10;
    height: 100%;
    width: 100%;
}

// buttoms
.icon-button-primary {
    color: $blue-60;
    border: none;
    cursor: pointer;
    margin-left: $padding-1;
    margin-top: $padding-0;
    height: fit-content;

    display: flex;
    align-items: center;

    &:hover {
        background-color: $gray-30;
    }

    &:active {
        background-color: $gray-50;
    }
}


// test
.test {
    background-color:aquamarine;
    border: 1px solid $gray-50;
}

.test1 {
    background-color:dodgerblue;
    border: 1px solid $gray-50;
}
