@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

@import './assets/styles/_color';
@import './assets/styles/_navbar';
@import './assets/styles/_layout';
@import './assets/styles/_background';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.arc-content-container {
    background-color: $gray-10;
    height: 100%;
    width: 100%;
}



// test
.test {
    background-color:aquamarine;
    border: 1px solid $gray-50;
}

.test1 {
    background-color:dodgerblue;
    border: 1px solid $gray-50;
}
