@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import './assets/styles/_color';
@import './assets/styles/_spacing';
@import './assets/styles/_background';
@import './assets/styles/_layout';
@import './assets/styles/_component';

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: $cool-gray-10;
}

.arc-navbar-container {
    // border-bottom: 1px solid $cool-gray-20;
}

.arc-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-1;
}

.arc-content-container {
    height: 100%;
    width: 100%;
}

// test1
.test1 {
    background-color: blue;
}