@if(rows.controls){<button (click)="onSave()">save</button>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of columns">{{header.displayName}} {{header.dataType}}</th>
            </tr>
        </thead>
        <tbody [formGroup]="rows">
            @for (row of controlKeys(); track $index) {
                <tr>
                    @for (col of columns; track $index) {
                        <td [formGroup]="getColumn(row, col.id)">
                            <input formControlName="value" type="datetime-local" class="form-control" *ngIf="getCellType(row, col.id) === 'datetime'">
                            <input formControlName="value" type="text" class="form-control" *ngIf="getCellType(row, col.id) === 'string'">
                            <input formControlName="value" type="number" class="form-control" *ngIf="getCellType(row, col.id) === 'number'" appNumberOnly>
                            <input formControlName="value" type="checkbox" class="form-check-input" *ngIf="getCellType(row, col.id) === 'boolean'">
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <button (click)="onAddNewRow()">+ Add Row</button>
</div>}