 @if (notification) {
     <div 
         class="alert alert-dismissible fade show shadow-sm" 
         id="notification"
         role="alert" 
         [ngClass]="{
             'alert-danger': notification.type === 'error',
             'alert-success': notification.type === 'success',
             'alert-primary': notification.type === 'info',
             'dismissed': notification.dismissed
         }">
            <span class="color-indicator"></span> <!-- Color indicator box -->
             {{notification.message}}
       </div>
 }