#notification {
    position: fixed;
    bottom: 0;
    left: 16px;
    z-index: 1000;
    width: 100%;
    max-width: 350px;
    background-color: #fff; /* White background for the main notification */
    padding-left: 10px; /* Padding to align text nicely */
    display: flex;
    align-items: center; /* Aligns the color box and text vertically */
    color:black;
    border: none;
}

.color-indicator {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 10px; /* Space between the color box and text */
}

.alert-danger .color-indicator {
    background-color: #fa4d56; /* Strong red */
}

.alert-success .color-indicator {
    background-color: #24a148; /* Strong green */
}

.alert-primary .color-indicator {
    background-color: #4589ff; /* Strong blue */
}

.dismissed {
    display: none;
}
