<div class="full-section">

    <div class="preview-section container-with-scrollable-content container-fluid pb-3 g-3">
      <div class="d-flex">
        <div class="flex-fill px-1">
          Processes
        </div>
        <div>
          <div class="d-flex">
            <span class="icon-button-primary">
              <svg data-bs-toggle="modal" data-bs-target="#createTableModal" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
              </svg>
            </span>
            <p class="fs-6 text-left px-2">Add Tables</p>
          </div>
        </div>
      </div>
        <div class="d-flex flex-column scrollable">
          @for (prcs of processNames; track $index) {
            <div class="card m-1">
              <div class="card-body">
                <p class="card-text">{{prcs}}</p>

                <div class="d-flex">
                  @for (prcsTable of processTableRelationships; track $index) {
                    @if (prcsTable.processName === prcs) {
                      <div (click)="navigateToTable(prcsTable.tableName)" class="card m-1" style="width: 8rem;">
                        <div class="card-body">
                          <p class="card-text">{{prcsTable.tableName}}</p>
                        </div>
                      </div>
                    }
                  }
                </div>
                
              </div>
            </div>
          }
          <div class="card m-1">
            <div class="card-body">
              <p class="card-text">Other Tables</p>
              <div class="d-flex">
                @for (tb of tablesList; track $index) {
                  @if (!tablesInProcess.includes(tb)) {
                      <div (click)="navigateToTable(tb)" class="card m-1" style="width: 8rem;">
                        <div class="card-body">
                          <p class="card-text">{{tb}}</p>
                        </div>
                      </div>
                    }
                  }
              </div>
            </div>
          </div>

        </div>
    </div>
  
    <div class="working-section d-flex flex-column">
      <div class="container-fluid mt-3">
        <p class="fs-6 text-center">{{greeing}}, {{userName}}</p>
      </div>
      <div class="container-with-scrollable-content">
        <app-how-to-chat class="container-with-scrollable-content"></app-how-to-chat>
      </div>
    </div>

  </div>
  
  
  <!-- table create modal -->
  <div class="modal fade" id="createTableModal" tabindex="-1" aria-labelledby="createTableModalLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createTableModalLable">Create New Table</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-12">
              <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newTableName">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="createTable()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>