@if (selectedConversationId == null) {
    <div class="container-with-scrollable-content">
        <div class="list-group scrollable">
            @for (chat of chats; track $index) {
                <div (click)="onSelectConversation(chat.conversationId)" class="list-group-item list-group-item-action">{{chat.displayName}} {{formatDate(chat.createdAt)}}</div>
            }
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="ask copilot a question" [(ngModel)]="currentMessage">
            <button (click)="onSendMessage(currentMessage)" class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>
}
@else {
    <div class="container-with-scrollable-content">
        <div class="d-flex flex-column scrollable">
        @for (msg of messages; track $index) {
            <div class="me-2">{{msg.message}}</div>
        }
        </div>
        
        <div class="input-group">
            <input type="text" class="form-control" placeholder="ask copilot a question" [(ngModel)]="currentMessage">
            <button (click)="onSendMessage(currentMessage)" class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>
}