<div class="centered-container">
    <div class="centered-container container-fluid pattern-dots-0">
        <div class="row">
            <div>
                <p class="fs-4 text-center">Welcome</p>
            </div>
            <div>
                <p class="fs-6 text-center">let's get you started!</p>
            </div>
        </div>
    </div>
    <div class="centered-container container-fluid">
        <form class="row g-3 w-50">
            <div class="col-12">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Company">
            </div>
              
            <div class="col-12 d-flex flex-column mt-5">
              <button type="submit" class="btn btn-primary flex-fill">Sign in</button>
              <p class="text-center mt-2">
                  Already have an account? <a href="/login">Login</a>
              </p>
            </div>
          </form>
    </div>
</div>