@if (tableMetaData) {
    @if (tableMetaData.dataSourceAdded) {
        <div style="height: 500px;" class="d-flex flex-column justify-content-between">
            <div>
                <p class="fs-6">Data Sources Added</p>
                <div class="arc-card">
                    <div class="d-flex justify-content-between mb-2">
                        <div>{{tableMetaData.name}} | {{tableMetaData.dataSource}}</div>
                        <button (click)="onDeleteData()" class="btn arc-button-danger arc-button-danger--small arc-button-center" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <p>{{tableMetaData.description}}</p>
                        <p class="text-secondary">Status: {{tableMetaData.extractionStatus}}</p>
                        <p>{{tableMetaData.extractionDetails}}</p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <label class=" arc-button-center">
                    Data source already added, plase delete the data source to import new data
                </label>
            </div>
        </div>
    }
    @else {
        <div style="height: 500px;" class="d-flex flex-column justify-content-between">
            @if (importType?.toLowerCase() === 'csv') {
                @if (csvData.length > 0) {
                    <div class="d-flex flex-row">
                        <div class="col-9 d-flex">
                            <p class="fs-4">{{tableMetaData.name}}</p>
                        </div>
                        @if (csvData.length > 0) {
                            <div class="col-3 d-flex justify-content-end">
                                <button (click)="onSaveData()" class="btn arc-button-primary arc-button-primary--small" type="button">
                                    Save
                                </button>
                            </div>
                        }
                    </div>
                    <div class="table-responsive mt-3 scrollable">
                        <table class="table table-hover">
                            <thead>
                                <tr  class="arc-table-header">
                                    @for (header of csvHeaders; track $index) {
                                        <th>
                                            <div class="d-flex flex-column">
                                                <div>
                                                    {{ header.name }} <span class="badge bg-secondary">{{ header.dtype }}</span>
                                                </div>
                                                <div>
                                                    <select class="form-select arc-button-secondary arc-button-secondary--small" (change)="onChangeHeaderDataType($index, $event)">
                                                        <option *ngFor="let type of dataTypes" [value]="type" [selected]="header.dtype === type">{{ type }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (row of csvData; track $index) {
                                    <tr>
                                        @for (header of csvHeaders; track $index) {
                                            <td>{{ row[header.name] }}</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
        
                <div class="d-flex justify-content-center">
                    <!-- Hidden file input -->
                    <input type="file" id="fileInput" (change)="onFileChange($event)" style="display: none;" />
        
                    <!-- Custom button that triggers the file input -->
                    <label for="fileInput" class="btn arc-button-secondary arc-button-secondary--small arc-button-center">
                        Upload CSV
                    </label>
                </div>
            }
        </div>
    }
}