<div class="container-fluid navbar-container">
    <div class="col d-flex">
        <div>
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="" [routerLink]="['/process']" routerLinkActive="router-link-active" >Processes</a>
                </li>
                <span>|</span>
            </ul>
        </div>
        <div>
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                </li>
                @for (brdcrm of breadCrumb; track $index) {
                    <li class="nav-item d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                        <a class="nav-link" [class.active]="" >{{brdcrm.label}}</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="navbar-profile-picture" [style.background-color]="backgroundColor">
            <span type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ initial }}
            </span>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>