<div class="centered-container">
    <div class="centered-container container-fluid pattern-dots-0">
        <div class="row">
            <div>
                <p class="fs-4 text-center">Welcome back</p>
            </div>
            <div>
                <p class="fs-6 text-center">let's get you logged in!</p>
            </div>
        </div>
    </div>
    <div class="centered-container container-fluid">
        <form class="row g-3 w-50">
            <div class="col-12">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-12">
                <input type="password" class="form-control" placeholder="Password">
            </div>              
            <div class="col-12 d-flex flex-column mt-5">
              <button type="submit" class="btn btn-primary flex-fill">Log in</button>
              <p class="text-center mt-2">
                  Don't have an account? <a href="/signup">Sign up</a>
              </p>
            </div>
          </form>
    </div>
</div>