<div class="d-flex  justify-content-end" (click)="onToggleRelationship()">
    <p class="px-2">
        relationship
    </p>
    <div *ngIf="isRelationship" style="color: green;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
            <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
        </svg>
    </div>
    <div *ngIf="!isRelationship">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
            <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5"/>
        </svg>
    </div>
</div>

@if (isRelationship) {
    <form [formGroup]="relationshipColumnForm" class="row gy-2 gx-3 align-items-center">
        <div class="form-floating">
            <select formControlName="rightTable" (change)="onSelectRightTable()" class="form-select" [id]="'floatingSelectrightTable'" aria-label="Floating label select example">
                <option *ngFor="let table of tablesList" [value]="table.id">{{ table.displayName }}</option>
            </select>
            <label for="floatingSelectrightTable">Table</label>
        </div>
        <div class="form-floating">
            <select formControlName="rightTableColumn" class="form-select" [id]="'floatingSelectrightTableColumn'" aria-label="Floating label select example">
                <option *ngFor="let column of columnsList" [value]="column.id">{{ column.displayName }}</option>
            </select>
            <label for="floatingSelectrightTableColumn">Column</label>
        </div>
    
        <div class="d-flex justify-content-between mt-3 px-3">
            <div class="text-button-danger" (click)="onClose()">Cancel</div>
            <div class="text-button-primary" (click)="onSave()">Submit</div>
        </div>
    </form>
}
@else {
    <form [formGroup]="columnForm" class="row gy-2 gx-3 align-items-center">
        <div class="col-12">
            <input formControlName="displayName" type="text" class="form-control" placeholder="Column name">
        </div>
    
        <div class="col-12">
            <input formControlName="description" type="text" class="form-control" placeholder="Description">
        </div>
    
        <div class="form-floating">
            <select formControlName="dataType" class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected value="string">string</option>
              <option value="number">number</option>
              <option value="boolean">boolean</option>
              <option value="datetime">datetime</option>
            </select>
            <label for="floatingSelect">Data Type</label>
        </div>
    
        <div class="d-flex justify-content-between mt-3 px-3">
            <div class="text-button-danger" (click)="onClose()">Cancel</div>
            <div class="text-button-primary" (click)="onSave()">Submit</div>
        </div>
    </form>
}