<div class="container-fluid arc-navbar">
    <div class="col d-flex">
        hi
    </div>
    <div class="col d-flex justify-content-end ">
        <div class="dropdown">
            <button class="btn arc-button-secondary arc-button-secondary--small" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 20 20">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
            </button>
            <ul class="dropdown-menu">
              <li><div class="dropdown-item">{{getUser()?.displayName || ''}}</div></li>
              <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
            </ul>
        </div>
    </div>
</div>