@if (data) {
    <div>
        {{tableMeta?.name}}
    </div>

    <div class="table-responsive mt-3 scrollable">
        <table class="table table-hover">
            <thead>
                <tr  class="arc-table-header">
                    @for (header of headers; track $index) {
                        <th>
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    {{ header.name }}
                                </div>
                                    <div class="badge bg-secondary">
                                    {{ header.dtype }}
                                </div>
                            </div>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (row of data; track $index) {
                    <tr>
                        @for (header of headers; track $index) {
                            <td>{{ row[header.name] }}</td>
                        }
                    </tr>
                }
            </tbody>
            
            <nav aria-label="Paginantion">
                <ul class="pagination justify-content-center">
                    <!-- Previous Button -->
                    <li [class.disabled]="currentPage === 1" class="page-item">
                    <a class="page-link" href="javascript:void(0);" (click)="goToPreviousPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    
                    <!-- Pages Loop -->
                    <li *ngFor="let page of pages" [class.active]="page === currentPage" class="page-item">
                    <a class="page-link" href="javascript:void(0);" (click)="goToPage(page)">{{ page }}</a>
                    </li>
                    
                    <!-- Next Button -->
                    <li [class.disabled]="currentPage === totalPages" class="page-item">
                    <a class="page-link" href="javascript:void(0);" (click)="goToNextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </table>
        
    </div>

}