<div class="full-section">
    <div class="full-section container-fluid preview-section">
        <app-table 
            [tableId]="tableId"
            class="full-section-content" >
        </app-table>
    </div>
    <div class="full-section container-fluid working-section d-flex flex-column">
        <div>
            <ul class="nav nav-underline nav-fill">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="selectedSection === 'section-details'" (click)="selectedSection = 'section-details'" aria-current="true">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="selectedSection === 'section-columns'" (click)="selectedSection = 'section-columns'">Columns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="selectedSection === 'section-automations'" (click)="selectedSection = 'section-automations'">Automations</a>
                </li>
            </ul>
        </div>

        <div class="container-fluid mt-3">
            <ng-container [ngSwitch]="selectedSection">
                <ng-container *ngSwitchCase="'section-details'">
                    <ng-container *ngTemplateOutlet="__section_details"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'section-columns'">
                    <ng-container *ngTemplateOutlet="__section_columns"></ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'section-automations'">
                    <ng-container *ngTemplateOutlet="__section_automations"></ng-container>
                </ng-container>
            </ng-container>
        </div>

    </div>
</div>


<ng-template #__section_details>
    <div class="d-flex flex-column">
        <input type="text" class="form-control mb-2" [value]="tableData.displayName || 'Table Name'">
        <textarea name="table-description" [value]="tableData.description || 'No description provided'"></textarea>
    </div>
    <div>
        <p class="fs-6 mt-4">Columns</p>
        <ul class="list-group">
            @for (col of columns; track $index) {
                <li class="list-group-item">{{ col.displayName }} {{ col.dataType }}</li>
            }
            @for (relationshipCol of relationshipColumns; track $index) {
                <li class="list-group-item">{{ relationshipCol.rightColumnDisplayName }} {{ relationshipCol.rightColumnDataType }} (realtionship)</li>
            }
        </ul>
        
        <div *ngIf="addNewColumnFormOpen" class="border py-3 px-2 mb-2">
            <app-add-column [tableId]="this.tableId" (closeForm)="onCloseAddNewColumnForm()" (columnCreated)="onColumnCreated($event)" (relationshipColumnCreated)="onRelationshipColumnCreated($event)"></app-add-column>
        </div>
        <div class="text-button-primary" (click)="onAddNewColumn()">+ Add New</div>
    </div>
</ng-template>

<ng-template #__section_columns>
    hi columns
</ng-template>

<ng-template #__section_automations>
    hi automations
</ng-template> 
