.profile-box{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.outgoing-message{
    background-color: $green-20;
    padding: $padding-1;
    border-radius: $padding-0;
}

.incoming-message {
    background-color: $purple-20;
    padding: $padding-1;
    border-radius: $padding-0;
    padding-left:10px;
}

.message-box {
    border-radius: $padding-0;
    padding: $padding-1;
    border: 0.5px solid $gray-20;
    background-color: $gray-10;
}

.message-time {
    font-weight: 400;
    color: $gray-50;
}
