@import './_color';

.centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.full-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 8px;
}

.preview-section {
    // background-color: $gray-10;
    background-color: $white;
    width: 70%;
    height: 100%;
    padding: 8px;
    border: 1px solid $gray-30;
    border-radius: 4px;
}

.working-section {
    // background-color: $white;
    width:30%;
    height: 100%;
}

.full-section-content {
    // height: 100%;
    width: 100%;
    overflow: auto;
}

.container-with-scrollable-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    // background-color: darkorchid;
    
    .scrollable {
        width: 100%;
        flex: 1 1 0; 
        overflow: auto; 
    }
}