@import './_color';

.centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.full-section {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    // gap: 8px;
}

.preview-section {
    padding-top: $padding-3;
    // background-color: $white;
    width: 70%;
    height: 100%;
    // padding: $padding-1;
    // box-shadow: $shadow-0;
    // border: 1px solid $gray-20;
}

.working-section {
    // background-color: $white;
    background-color: $gray-10;
    width:30%;
    height: 100%;
    border-left: 1px solid $gray-20;
    padding: $padding-1;
    // margin-left: $padding-1;
    // box-shadow: $shadow-0;
}

.full-section-content {
    // height: 100%;
    width: 100%;
    overflow: auto;
}

.container-with-scrollable-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    // background-color: darkorchid;
    
    .scrollable {
        width: 100%;
        flex: 1 1 0; 
        overflow: auto; 
    }
}