@import './_color';

.centered-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.full-section {
    height: 100%;
    width: 100%;
}

.preview-section {
    padding-top: $padding-3;
    width: 70%;
    height: 100%;
}

.working-section {
    background-color: $gray-10;
    width:30%;
    height: 100%;
    border-left: 1px solid $gray-20;
    padding: $padding-1;
}

.container-with-scrollable-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    .scrollable {
        width: 100%;
        flex: 1 1 0; 
        overflow: auto; 
    }
}