@import './_color';
@import './_spacing';

.navbar-container {
    // background-color: $white;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: medium;
}